form {
  width: 400px;
}

button {
  background: white;
  outline: none;
}

input {
  width: 250px;
  margin-bottom: 2em;
  padding: 1em;
  outline: none;
  border: 1px solid;
  border-radius: 2px;
}

input:focus {
  border: 1px solid #1749E5;
}

.error:focus {
  border-color: red;
}

.error {
  border-color: red;
  /* Add Animation HERE */
  animation: shake 1s;
}

/* define @keyframes HERE */
@keyframes shake {
  0%, 100% {
    transform: translate(0,0) rotate(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(5px, 5px) rotate(-5deg);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-5px, -5px) rotate(5deg);
  }

}
